<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/chorok.jpg" | prepend: site.baseurl | replace: '//', '/' }}" alt="Emerald Logo">
	  <h1>{{ site.title }}</h1>
	</a>
	<ul class="social">
		{%- if site.social_links.github -%}
			<a href="https://github.com/{{ site.social_links.github }}"><li><i class="fab fa-github"></i></li></a>
		{%- endif -%}
		{%- if site.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.social_links.linkedIn }}"><li><i class="fab fa-linkedin"></i></li></a>
		{%- endif -%}
		{%- if site.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.social_links.twitter }}"><li><i class="fab fa-twitter-squared"></i></li></a>
		{%- endif -%}
	</ul>
</header>
